.jumbotron {   
    background-image: url("https://lh3.googleusercontent.com/proxy/Q0jP6SGShQTks40gd2DwsXDFP5EJ4SunDIDNhu8AdNOO23BKDfSj12wdNvRuKRkq8zIAnsuknlVGf73N3_sH5jsRQUJOYw");
    background-size: cover;
    position: relative;
    z-index: 0;
    background-position: center center
}
.display-4{
    font-size: 60px;
    /* color: #B2F62B; */
    font-weight: bold
}
.texo1{
    color: #ffff;
}
.btn-lg{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background-color: #18BC9C;
    border-color: #18BC9C;
}
